<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<div class="px-4 py-5 my-5 text-center text-white">
    <img src="/assets/images/bracketsample.jpeg" class="d-block mx-auto mb-4"  alt="" width="600" height="250">
    <h2 class="display-5 fw-bold">Tournament Management</h2>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 white">Join millions of gamers and game organizers. Create your tounament bracket system with just a simple click</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-dark btn-lg px-4 gap-3 text-white">Create Tournament</button>&nbsp;
        <button type="button" class="btn btn-dark btn-lg px-4 text-white">Browse Brackets</button>
      </div>
    </div>
  </div>


<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
