<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>


<% var form_value = 8; %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3>Create Tournament</h3>
        <form class="form" method="POST">

            <div class="form-group">
                <label for="tNameTextField">Tournament Name</label>
                <input type="text" class="form-control"
                id="tNameTextField"
                placeholder="Tournament Name"
                name="tournamentName" required>
            </div>

            <div class="form-group">
                <label for="gameTextField">Type of Game</label>
                <input type="text" class="form-control"
                id="gameTextField"
                placeholder="Game name"
                name="gameType" required>
            </div>
            <div class="form-group">
                <label for="desTextField">Description</label>
                <input type="texarea" class="form-control"
                id="desTextField"
                placeholder="Write a description for your tournament"
                name="description" required>
            </div>
            <div class="form-group">
            
                <input type="radio" id="players8" name="players" value="8" />8
                <input type="radio" id="players16" name="players" value="16" checked/>16 
            
            </div>
	
       
            <!--the 8 here can be replaced with a variable from the url but 
            I want to wait for more of the site to work out this part-->
                        <div class="container" style="display: flex;">
                            <div class="row">
                                <div class="col" id="col1">
                            <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                        </div> 
                        <div class="col" id="col2" style="visibility: visible;">
                              
                            <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                           <label for="tNameTextField">Enter Name</label>
                            <input type="text" class="form-control"
                            id="nameTextField"
                            placeholder="Enter Name"
                            name="teams" 
                           >
                        </div>
                        </div>
                        </div>
          
	
	    
            <button class="btn btn-primary" type="submit" >
                <i class="fas fa-edit"></i> Submit</button>
                <!--submit button for the form above, 
                return to /home page using the cancel button-->
                <a href="/" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel</a>

        </form>
    </div>

</div>
</div>

<script>
$( document ).ready(function() {

$( "#players8" ).click(function() {
    if( $(this).is(':checked') ){

        // if you want to change your Div's css property 
        $("#col2").css("display","hidden");

    }else if( $('#players16').is(':checked') ){

        // Reverting back visibility to visible
        $("#col2").css("display","flex");

    }
    },
    );

});
  </script>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>

